@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&family=Roboto:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');

:root {
    --background-color: #fff;
    --black-color: #000000;
}


* {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 1s ease;
}

body {
    overflow-x: hidden;
}

/* base html codes */
html {
    height: 100%;
    position: relative;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
    background-color: white;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: black;
}

body {
    position: relative;
    background-color: var(--background-color);
}


.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;
}



/* Header Section */



.main-header .navbar-brand {
    padding-left: 20px;
    transition: 1s ease;
}

.main-header .navbar-brand:hover {
    transform: scale(1.1);
}

.navbar {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: fit-content;
    position: relative;
}

.container-fluid {
    height: fit-content;
    background-color: #ffffff;
}


.container-fluid {
    position: sticky;
}

.container-fluid img {
    width: 6rem;
}

.collapse .nav-item {
    font-size: 1.2rem;
    padding: 0 20px;
}

.collapse .nav-item a {
    display: block;
    transition: 1s ease;
}

.navbar-collapse .navbar-nav {
    align-items: end;
}



.collapse .nav-item a:hover {
    transform: scale(1.2);
}

.main-header .navbar .d-flex {
    vertical-align: middle;
}


.main-header .navbar .form-control {
    border-radius: 15px;
    height: 40px;
    margin: auto;
    font-size: 13px;
    padding: 0 20px;
}



.main-header .navbar form button {
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 3px 20px;
    margin: auto;
    height: 40px;
    font-size: 13px;
    transition: 1s ease;
}

.main-header .navbar .btn:hover {
    color: white;
    transform: scale(1.1);
}


/* Header Section End */


/* Home Section Start */
.home {
    background-image: url(img/pexels-alex-staudinger-1732414.webp);
    background-position: center;
    padding-top: 70px;
    height: 700px;
    width: 100%;
    background-size: cover;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.home .links {
    display: flex-box;
    position: relative;
    margin: 0 20px;
}

.home .links img {
    margin: 10px;
    opacity: 0.7;
    transition: 1s ease;
}

.home .links img:hover {
    opacity: 1;
    transform: scale(1.1);
}


.home .container {
    display: flex-box;
    position: absolute;
    width: fit-content;
    right: 30%;
    bottom: 0%;

    
}

.home .container h3 {
    font-weight: 600;
    font-size: 2rem;
    text-align: left;
    padding: 5px 40px 5px 30px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0;
    color: rgba(255, 255, 255, 0.64);
    background-color: rgba(0, 0, 0, 0.708);
    width: fit-content;
}

.home .container .inputs {
    opacity: 1;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.home .container .inputs div {
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.708);
}

.home .container .inputs div p {
    text-align: left;
    color: white;
    font-size: 1.5rem;
}

.home .container .inputs div select {
    background-color: rgba(0, 0, 0, 0.567);
    font-size: 15px;
    height: 40px;
    border-radius: 15px;
    color: white;
}

.home .container .inputs div select option:active {
    background-color: #95B8D1;
    font-size: 20px;
}

.home .container .inputs button {
    width: 110px;
    height: 120px;
    font-size: 1.5rem;
    border-top-right-radius: 15px;
    background-color: rgba(0, 0, 0, 0.708);
    color: white;
    transition: 1s ease;
}

.home .container .inputs button:hover {
    transform: scale(1.03);
    background-color: rgb(0, 0, 0);
}


.form {
    background-color: rgba(0, 0, 0, 0.609);
    padding: 20px 20px;
    display: flex-box;
    position: absolute;
    right: 3%;
    top: 0%;
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

.form h3 {
    text-align: center;
    color: whitesmoke;
    padding: 0;
    margin-bottom: 10px;
}


.form input {
    color: white;
    font-size: 15px;
    text-transform: initial;
}


.form input,
form textarea {
    display: flex;
    width: 95%;
    height: 30px;
    background-color: rgba(245, 245, 245, 0.739);
    padding-left: 10px;
    outline: none;
    color: rgba(0, 0, 0, 0.583);
    margin: auto;
    margin-bottom: 15px;
    border-radius: 3px;
    text-transform: initial;
    font-size: 13px;
}


.form textarea {
    padding-top: 10px;
    height: 80px;
}


.form #send-btn {
    display: flex;
    width: 100px;
    height: 30px;
    margin: auto;
    padding: 0 20px;
    background: white;
    color: black;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    transition: 1 ease;
    opacity: 1;
}


form #send-btn:hover {
    background: white;
    color: black;
    opacity: 1;
    box-shadow: 0 0 10px rgb(222, 147, 189);
    cursor: pointer;
}


/* Home Section End */



/* Carousel Section Start */

.carousel {
    display: flex;
    padding: 50px 0;
    width: 80%;
    height: 800px;
    margin: auto;
}

.carousel-item {
    transition: transform 3s ease-in-out;
}



/* Carousel Section End */


/* İlan Section Start */
.ilanlar {
    width: 100%;
    padding: 50px 0;
    justify-content: space-between;
    text-align: center;
}


.ilanlar .nav-links {
    width: 100%;
    height: 50px;
}

.ilanlar .nav-links li {
    display: inline-block;
    position: relative;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 2rem;
    list-style: none;
    color: black;
    text-decoration: none;
    transition: 2s ease;
    margin: 20px;
    padding: 0;
}

.ilanlar .nav-links li:hover {
    transform: scale(1.2);
}

.ilanlar .nav-links li a {
    color: black;
    margin: 1rem;
    text-decoration: none;
    width: 8%;
    height: 12%;
}

.ilanlar .containers {
    display: flex;
    width: 100%;
    position: relative;
    margin: 3rem 0;
    flex-wrap: wrap;
}

.ilanlar .card {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 350px;
    margin-top: 3rem;
    height: 20%;
    background-color: #e5e2e2;
}



.ilanlar .card:hover {
    transform: scale(1.05);
}

.ilanlar .card #link {
    background-color: #e5e2e2;
}

.ilanlar .card #link:hover {
    background-color: #f4e0e9d7;
}

.ilanlar .card #link:hover a {
    font-size: 1.6rem;

}

.ilanlar .card .list-group {
    text-align: left;
    font-size: 1.3rem;
}

.ilanlar .card .list-group-item {
    background-color: #e5e2e2;
}

.ilanlar .card-body a {
    color: rgb(74, 73, 73);
    text-decoration: none;
    font-size: 1.5rem;
}

.ilanlar .card p {
    text-align: left;
}

.ilanlar .card .list-group span {
    font-size: 1.5rem;
    font-style: italic;
}

/* İlan Section End */



/* Subscription Section Start */

.wrapper {
    min-height: 60vh;
    color: #000000af;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 100px;
    padding-bottom: 100px;
}

.wrapper .container {
    background-color: #ebe9e9;
    padding: 1em;
    border-radius: 1em;
    max-width: 768px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    max-width: 400px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0px 0px 20px 5px rgba(153, 145, 153, 1);
    transition: 1s ease;
}

.wrapper .container:hover{
    transform: scale(1.05);
}

.title {
    font-size: 1.6rem;
    font-weight: 700;
}



.title {
    margin-bottom: 0.9em;
}

.subtitle {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: 700;
}

.content {
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 0 2em;
    margin-bottom: 1.8em;
}

.mail {
    padding: 0.5em 0 0.5em 1.5em;
    height: 40px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

::-webkit-input-placeholder {
    color: #111127;
}

:-ms-input-placeholder {
    color: #111127;
}

::-ms-input-placeholder {
    color: #111127;
}

::placeholder {
    color: #111127;
}

.subscribe {
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #f55951;
    padding: 0.9em 0;
    display: inline-block;
    border-radius: 0.5em;
    width: 40%;
    margin-bottom: 1.3em;
}

.text {
    font-size: 0.9rem;
    width: 90%;
    text-align: center;
}

/* Subscription Section End*/

/* Footer Section Start */

.footer {
    font-family: 'Roboto', sans-serif;
    background: rgb(116, 113, 113);
    background: linear-gradient(0deg, rgba(116, 113, 113, 1) 0%, rgba(255, 255, 255, 1) 72%);
    padding-top: 100px;
}


.footer-box .share {
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.footer-box .share a{
    padding: 0 2rem;
}

.footer-box .contact {
    margin-top: 50px;
    width: 100%;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.622);
    text-align: center;
    padding-right: 70px;
}

.footer-box .contact h1 {
    margin: 10px;
    font-size: 15px;
    font-weight: 300;

}

.footer-box .contact .box {
    text-align: center;
    display: inline-block;
    position: relative;
    height: fit-content;
    margin: 50px;
}

.footer a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.622);
}

#mail a {
    text-transform: lowercase;
}


.footer .rights p {
    text-align: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.622);
    padding: 20px;
    margin-bottom: 0;
}

.footer .rights span {
    color: #f55951;
}



/* Footer Section End */